.intro {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 92px;
    
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .intro {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .intro {
    padding-bottom: 64px;

  }
}